@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        background-image: linear-gradient(to top, #49a09d, #5f2c82 );
    }

    section#login {
        width: 90vw;
        height: 50vh;
    }

    #imagem {
        float: left;
        width: 40vw;
        height: 50vh;
    }

    #formulario {
        float: right;
        width: 50vw;
        height: 50vh;
    }
}

@media screen and (min-width: 992px) {
    main {
        background-image: linear-gradient(to top, #49a09d, #5f2c82 );
    }

    section#login {
        width: 990px;
        height: 400px;
    }

    #imagem {
        float: right;
        width: 450px;
        height: 400px;
    }

    #formulario {
        float: left;
        width: 540px;
        height: 400px;
    }

    #formulario p {
        font-size: 1.1em;
    }

    #formulario h1 {
        font-size: 1.8em;
    }
}